include AUTHORS
include COPYING
include HACKING.README
include NEWS
include README
include ez_setup.py
include prelude-correlator.conf
recursive-include preludecorrelator *
recursive-include selinux *
graft data
