Source: prelude-correlator
Section: admin
Priority: extra
Maintainer: Equipe Prelude <contact.prelude@c-s.fr>
Build-Depends: debhelper (>= 7.0.50~),
    python,
    python-setuptools (>= 0.6.14),
    python-support,
    python-prelude (>= 1.0.0)
Standards-Version: 3.8.4
Homepage: http://www.prelude-ids.com/

Package: prelude-correlator
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
    python-prelude (>= 1.0.0),
    python-pkg-resources (>= 0.6.14),
    adduser
Description: Security Information Management System [ Correlator ]
 Prelude is a Universal "Security Information Management" (SIM) system.
 Prelude collects, normalizes, sorts, aggregates, correlates and reports all
 security-related events independently of the source or event.
 .
 This package provides the Prelude Correlator, which is a powerful
 correlation engine using Python to write correlation rules.
 .
 The features currently include:
  * Rapid identification of important security events, enabling the analyst to
    assign task priorities
  * Alert correlation originally from heterogeneous sensors deployed on the
    whole infrastructure
  * Real-time analysis of events received by the Prelude Manager
